/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2017, 2:08:51 PM
    Author     : Raymond
*/

* {
    font-family: Tahoma;
}

#btn-search, .btn-star {
    background: rgba(10, 10, 10, 0.0);
    border: none;
}

#apples {
    color: red;
}

#oranges {
    color: orange;
}
#and {
    font-size: 60%;
    vertical-align: middle;
    color: green;
}

input[name="ratable"], input[name="rating"] {
    display: none;
}

form[name="star-form"] {
    float: left;        
}

.tooltip-arrow, .tooltip-inner {
    background-color: white;
    color: black;
}

.search-img {
    max-height: 100px;
    padding: 5px;
}

#td-add-rows, #td-prev-rows {
    text-align: center;
}

#td-add-rows {
    border: hidden;
}

#td-prev-rows {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.ratable-tr {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: orange;
    vertical-align: top;    
}

td {
    padding: 4px;
}

.ratable-home-tr {
    vertical-align: top;
}

#ratings-data td {
    padding-left: 0px;
    padding-top: 0px;
}

.spinner {
    padding-bottom: 10px;
    color: orange;
}

.fa-check {
    color: red;
}

.fa-check-square {
    color: pink;
}

.td-star {
    min-width: 205px;
}

svg {
    padding: 5px;    
}

.poly-star-btn {
    background: rgba(10, 10, 10, 0.0);
    border: none;
    padding: 0px;
}

.number-rating {
    color: orange;
}

.number-of-ratings {
    color: green;
}

.align-justify {
    text-align: justify;
    margin-top: -8px;
}

h3 {
    margin: 0px;
    margin-bottom: 4px;
}

.font-12px {
    font-size: 12px;
}

.img-max-width {
    max-width: 350px;
}

.align-right {
    text-align: right;
}