/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2017, 2:08:51 PM
    Author     : Raymond
*/

#btn-search, .btn-star {
    background-color: #f5f8fa;
    border: none;
}

#apples {
    color: red;
}

#oranges {
    color: orange;
}
#and {
    font-size: 60%;
    vertical-align: middle;
}