/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2017, 2:08:51 PM
    Author     : Raymond
*/

* {
    font-family: Tahoma;
}

.btn-star {
    background: rgba(10, 10, 10, 0.0);
    border: none;
}

#nav-container, #main-body-container {
    margin: 0px;
    width: auto;
    padding: 0px;
}

.input-group {
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
    border-color: #32a232;
}
 
#search-box, #btn-search {
    border: 0px;
    box-shadow: none;
}

#div-form-search {
    height: 56px;
    padding: 11px;
}

#apples {
    color: red;
    display: table-cell;
    vertical-align: middle;
}

#oranges {
    color: orange;
    display: table-cell;
    vertical-align: middle;
}
#and {
    font-size: 60%;
    color: green;
    font-style: italic;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    display: table-cell;
    vertical-align: middle;
}

input[name="ratable"], input[name="rating"] {
    display: none;
}

.star-btn-form {
    float: left;        
}

.tooltip-arrow, .tooltip-inner {
    background-color: white;
    color: black;
}

.search-img {
    max-height: 100px;
    padding: 5px;
}

#td-add-rows, #td-prev-rows {
    text-align: center;
}

#td-add-rows {
    border: hidden;
}

#td-prev-rows {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.ratable-tr {
    border-top-style: solid;
    border-top-width: thin;
    vertical-align: top;
}

.border-top-orange {
    border-top-color: orange;
}

.border-top-green {
    border-top-color: green;
}

td {
    padding: 4px;
}

.ratable-home-tr {
    vertical-align: top;
}
 
.spinner {
    padding-bottom: 10px;
    color: orange;
}

svg {
    padding: 5px;    
}

.poly-star-btn {
    background: rgba(10, 10, 10, 0.0);
    border: none;
    padding: 0px;
}

h3 {
    margin: 0px;
    margin-bottom: 4px;
}

#ratable-home-img {
    max-width: 350px;
}

#body {
    margin: auto;
    width: 1100px;    
    background: url('/images/your_ad_here.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.container {
    width: auto;
    padding: 0px;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-collapse {
    padding: 0px;
}

#logo {
    height: 28px;
    padding: 0px;
    margin: 0px;
    display: table;
}

#logo-div {
    padding: 14px;
    height: 56px;
    background-color: white;
}

#main-body-container {
    background-color: white;
    min-height: 685px;
    position: relative;
}

#nav {
    margin-bottom: 0px;
}

.ad-space {
    height: 250px;
    width: 1100px;
    font-size: 48px;
    padding-top: 8px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.navbar-nav > li {
    display: table;
}

.fa-user-secret {
    color: #7D7D7D;
    cursor: pointer;
}

.user-page-anon {
    padding-left :4px;
    padding-bottom: 4px;
    vertical-align: middle;
    display: table-cell;
}

.master-page-anon {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.anon-form {
    display: inline-block;
    float: left;
}

.secret-empty {
    color: #cbcbcb;
}

.fa-map-marker {
    color: #6666ff;
    cursor: pointer;
}

.mobile-map {
    padding-left: 4px;
    vertical-align: top;
    padding-top: 4px;
}

.mobile-icons {
    float: left;
    vertical-align: middle;
}

.fa-eraser {
    color: pink;
    cursor: pointer;
}

.eraser-form {
    display: inline-block;
}

.fa-pencil-square-o {
    color: blue;
    padding: 4px;
    cursor: pointer;
}

caption {
    text-align: left;
    font-weight: bold;
}

#footer {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.icon-div {
    float: left;
    padding-left: 4px;
    padding-right: 4px;
}

.headline {
    vertical-align: top;
    padding-left: 2px;
    padding-right: 4px;
}

.ratings-data-a {
    vertical-align: top;
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 2px;
}

.review-icon {
    vertical-align: top;    
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
}